# YAHOO_FIN
http://theautomatic.net/yahoo_fin-documentation/#get_earnings_in_date_range

In [2]:
# Imoprt yahoo_fin
import pandas as pd
import yahoo_fin.stock_info as si

In [3]:
# Extract the data found on the summary page of a stock
quote = si.get_quote_table("aapl")
quote

{'1y Target Est': 151.75,
 '52 Week Range': '53.15 - 145.09',
 'Ask': '121.76 x 1100',
 'Avg. Volume': 107597034.0,
 'Beta (5Y Monthly)': 1.27,
 'Bid': '121.69 x 1400',
 "Day's Range": '121.20 - 124.85',
 'EPS (TTM)': 3.69,
 'Earnings Date': 'Apr 28, 2021 - May 03, 2021',
 'Ex-Dividend Date': 'Feb 05, 2021',
 'Forward Dividend & Yield': '0.82 (0.68%)',
 'Market Cap': '2.036T',
 'Open': 122.59,
 'PE Ratio (TTM)': 32.89,
 'Previous Close': 120.99,
 'Quote Price': 121.26000213623047,
 'Volume': 164560045.0}

In [4]:
# pull the P/E ratio from the dictionary that is returned
quote["PE Ratio (TTM)"]

32.89

In [10]:
# A company’s P/E ratio can also be extracted from the get_stats_valuation method. 
val = si.get_stats_valuation("aapl")
val = val.iloc[:,:2]
val.columns = ["Attribute", "Recent"]
val

                     Attribute Recent
0      Market Cap (intraday) 5  2.04T
1           Enterprise Value 3  2.07T
2                 Trailing P/E  32.89
3                Forward P/E 1  25.91
4  PEG Ratio (5 yr expected) 1   2.02
5            Price/Sales (ttm)   6.92
6             Price/Book (mrq)  30.81
7   Enterprise Value/Revenue 3   7.04
8    Enterprise Value/EBITDA 6  24.32

In [14]:
# extract the P/E and P/S ratio
print(float(val[val.Attribute.str.contains("Trailing P/E")].iloc[0,1]))
print(float(val[val.Attribute.str.contains("Price/Sales")].iloc[0,1]))

32.89
6.92

In [15]:
# We could also do things above for a custom list of tickers as well
# get list of Dow tickers
dow_list = si.tickers_dow()
 
 
# Get data in the current column for each stock's valuation table
dow_stats = {}
for ticker in dow_list:
    temp = si.get_stats_valuation(ticker)
    temp = temp.iloc[:,:2]
    temp.columns = ["Attribute", "Recent"]
 
    dow_stats[ticker] = temp
 
 
# combine all the stats valuation tables into a single data frame
combined_stats = pd.concat(dow_stats)
combined_stats = combined_stats.reset_index()
 
del combined_stats["level_1"]
 
# update column names
combined_stats.columns = ["Ticker", "Attribute", "Recent"]

In [16]:
combined_stats

    Ticker                    Attribute Recent
0     AAPL      Market Cap (intraday) 5  2.04T
1     AAPL           Enterprise Value 3  2.07T
2     AAPL                 Trailing P/E  32.89
3     AAPL                Forward P/E 1  25.91
4     AAPL  PEG Ratio (5 yr expected) 1   2.02
..     ...                          ...    ...
265    WMT  PEG Ratio (5 yr expected) 1   4.28
266    WMT            Price/Sales (ttm)   0.66
267    WMT             Price/Book (mrq)   4.52
268    WMT   Enterprise Value/Revenue 3   0.75
269    WMT    Enterprise Value/EBITDA 6  12.29

[270 rows x 3 columns]

In [19]:
# get P/E ratio for each stock
pe_all = combined_stats[combined_stats.Attribute.str.contains("Trailing P/E")]
pe_all.head()

   Ticker     Attribute Recent
2    AAPL  Trailing P/E  32.89
11   AMGN  Trailing P/E  18.27
20    AXP  Trailing P/E  35.88
29     BA  Trailing P/E    NaN
38    CAT  Trailing P/E  39.54

In [23]:
# get balance sheets for many stocks at once
balance_sheets = {}
for ticker in dow_list:
    balance_sheets[ticker] = si.get_balance_sheet(ticker)

In [27]:
balance_sheets['WMT']

endDate,2021-01-31,2020-01-31,2019-01-31,2018-01-31
Breakdown,,,,
capitalSurplus,3.646000e+09,3.247000e+09,2.965000e+09,2.648000e+09
totalLiab,1.649650e+11,1.549430e+11,1.396610e+11,1.237000e+11
totalStockholderEquity,8.129800e+10,7.466900e+10,7.249600e+10,7.786900e+10
minorityInterest,6.233000e+09,6.883000e+09,7.138000e+09,2.953000e+09
otherCurrentLiab,1.294200e+10,2.270000e+09,2.360000e+09,2.662000e+09
totalAssets,2.524960e+11,2.364950e+11,2.192950e+11,2.045220e+11
commonStock,2.820000e+08,2.840000e+08,2.880000e+08,2.950000e+08
otherCurrentAssets,1.920000e+10,NaN,3.400000e+07,NaN
retainedEarnings,8.876300e+10,8.394300e+10,8.078500e+10,8.510700e+10
otherLiab,1.437000e+10,1.226500e+10,1.155300e+10,8.168000e+09
goodWill,2.898300e+10,3.107300e+10,3.118100e+10,1.824200e+10
treasuryStock,-1.139300e+10,-1.280500e+10,-1.154200e+10,-1.018100e+10
otherAssets,2.359800e+10,5.377000e+09,5.027000e+09,4.184000e+09
cash,1.774100e+10,9.465000e+09,7.722000e+09,6.756000e+09
totalCurrentLiabilities,9.264500e+10,7.779000e+10,7.747700e+10,7.852100e+10
shortLongTermDebt,3.115000e+09,5.362000e+09,1.876000e+09,3.738000e+09
otherStockholderEquity,-1.139300e+10,-1.280500e+10,-1.154200e+10,-1.018100e+10
propertyPlantEquipment,1.098480e+11,1.270490e+11,1.113950e+11,1.148180e+11
totalCurrentAssets,9.006700e+10,6.180600e+10,6.189700e+10,5.966400e+10
netTangibleAssets,5.231500e+10,3.839600e+10,3.551500e+10,5.962700e+10
netReceivables,6.516000e+09,6.284000e+09,6.283000e+09,5.614000e+09
longTermDebt,4.119400e+10,4.441000e+10,4.394800e+10,3.023100e+10
inventory,4.494900e+10,4.443500e+10,4.426900e+10,4.378300e+10
accountsPayable,4.914100e+10,4.697300e+10,4.706000e+10,4.609200e+10
intangibleAssets,NaN,5.200000e+09,5.800000e+09,NaN
deferredLongTermAssetCharges,NaN,1.914000e+09,1.796000e+09,1.879000e+09
longTermInvestments,NaN,5.990000e+09,3.995000e+09,7.614000e+09

In [29]:
# Combine all balance sheet into one df

recent_sheets = {ticker : sheet.iloc[:,:1] for ticker,sheet in balance_sheets.items()}
 
for ticker in recent_sheets.keys():
    recent_sheets[ticker].columns = ["Recent"]
 
# Combine all balance sheets together
combined_sheets = pd.concat(recent_sheets)
 
# reset index to pull in ticker
combined_sheets = combined_sheets.reset_index()
 
# update column names
combined_sheets.columns = ["Ticker", "Breakdown", "Recent"]

combined_sheets

    Ticker                     Breakdown        Recent
0     AAPL                     totalLiab  2.585490e+11
1     AAPL        totalStockholderEquity  6.533900e+10
2     AAPL              otherCurrentLiab  4.786700e+10
3     AAPL                   totalAssets  3.238880e+11
4     AAPL                   commonStock  5.077900e+10
..     ...                           ...           ...
783    WMT                     inventory  4.494900e+10
784    WMT               accountsPayable  4.914100e+10
785    WMT              intangibleAssets           NaN
786    WMT  deferredLongTermAssetCharges           NaN
787    WMT           longTermInvestments           NaN

[788 rows x 3 columns]

In [30]:
# Getting the income statement from each Dow stock
income_statements = {}
for ticker in dow_list:
    income_statements[ticker] = si.get_income_statement(ticker)

# Combine all income statement together
recent_income_statements = {ticker : sheet.iloc[:,:1] for ticker,sheet in income_statements.items()}
 
for ticker in recent_income_statements.keys():
    recent_income_statements[ticker].columns = ["Recent"]
 
combined_income = pd.concat(recent_income_statements)
 
combined_income = combined_income.reset_index()
 
combined_income.columns = ["Ticker", "Breakdown", "Recent"]

combined_income

    Ticker                          Breakdown        Recent
0     AAPL                researchDevelopment   18752000000
1     AAPL          effectOfAccountingCharges          None
2     AAPL                    incomeBeforeTax   67091000000
3     AAPL                   minorityInterest          None
4     AAPL                          netIncome   57411000000
..     ...                                ...           ...
655    WMT                      costOfRevenue  420315000000
656    WMT         totalOtherIncomeExpenseNet   -2364000000
657    WMT             discontinuedOperations          None
658    WMT         netIncomeFromContinuingOps   13706000000
659    WMT  netIncomeApplicableToCommonShares   13510000000

[660 rows x 3 columns]

In [31]:
# Getting the cashflow statement from each Dow stock
cash_flows = {}
for ticker in dow_list:
    cash_flows[ticker] = si.get_cash_flow(ticker)

# Combine all cashflow statement together
recent_cash_flows = {ticker : flow.iloc[:,:1] for ticker,flow in cash_flows.items()}
 
 
for ticker in recent_cash_flows.keys():
    recent_cash_flows[ticker].columns = ["Recent"]
 
 
combined_cash_flows = pd.concat(recent_cash_flows)
 
combined_cash_flows = combined_cash_flows.reset_index()
 
combined_cash_flows.columns = ["Ticker", "Breakdown", "Recent"]

combined_cash_flows

    Ticker                              Breakdown        Recent
0     AAPL                            investments  5.335000e+09
1     AAPL                    changeToLiabilities -1.981000e+09
2     AAPL  totalCashflowsFromInvestingActivities -4.289000e+09
3     AAPL                          netBorrowings  2.499000e+09
4     AAPL       totalCashFromFinancingActivities -8.682000e+10
..     ...                                    ...           ...
558    WMT                      changeToInventory -2.395000e+09
559    WMT             changeToAccountReceivables -1.086000e+09
560    WMT  otherCashflowsFromFinancingActivities -1.670000e+09
561    WMT                      changeToNetincome  3.440000e+09
562    WMT                    capitalExpenditures -1.026400e+10

[563 rows x 3 columns]

In [32]:
# Getting dividends paid across companies
combined_cash_flows[combined_cash_flows.Breakdown == "dividendsPaid"]

    Ticker      Breakdown        Recent
13    AAPL  dividendsPaid -1.408100e+10
31    AMGN  dividendsPaid -3.755000e+09
51     AXP  dividendsPaid -1.474000e+09
69      BA  dividendsPaid -1.158000e+09
89     CAT  dividendsPaid -2.243000e+09
123   CSCO  dividendsPaid -6.016000e+09
142    CVX  dividendsPaid -9.651000e+09
161    DIS  dividendsPaid -1.587000e+09
182    DOW  dividendsPaid -2.071000e+09
199     GS  dividendsPaid -2.336000e+09
218     HD  dividendsPaid -6.451000e+09
238    HON  dividendsPaid -2.592000e+09
256    IBM  dividendsPaid -5.797000e+09
276   INTC  dividendsPaid -5.568000e+09
296    JNJ  dividendsPaid -1.048100e+10
315    JPM  dividendsPaid -1.269000e+10
332     KO  dividendsPaid -7.047000e+09
351    MCD  dividendsPaid -3.752900e+09
370    MMM  dividendsPaid -3.388000e+09
390    MRK  dividendsPaid           NaN
410   MSFT  dividendsPaid -1.513700e+10
430    NKE  dividendsPaid -1.452000e+09
449     PG  dividendsPaid -7.789000e+09
469    TRV  dividendsPaid -8.610000e+08
485    UNH  dividendsPaid -4.584000e+09
505      V  dividendsPaid -2.664000e+09
520     VZ  dividendsPaid -1.023200e+10
539    WBA  dividendsPaid -1.747000e+09
557    WMT  dividendsPaid -6.116000e+09

In [36]:
financials = si.get_financials('WMT', yearly = True, quarterly = True)
financials

{'yearly_income_statement': endDate                              2021-01-31    2020-01-31    2019-01-31  \
 Breakdown
 researchDevelopment                        None          None          None
 effectOfAccountingCharges                  None          None          None
 incomeBeforeTax                     20564000000   20116000000   11460000000
 minorityInterest                     6233000000    6883000000    7138000000
 netIncome                           13510000000   14881000000    6670000000
 sellingGeneralAdministrative       115908000000  107891000000  106987000000
 grossProfit                        138836000000  129359000000  129104000000
 ebit                                22928000000   21468000000   22117000000
 operatingIncome                     22928000000   21468000000   22117000000
 otherOperatingExpenses                     None          None          None
 interestExpense                     -2315000000   -2599000000   -2346000000
 extraordinaryItems                         None          None          None
 nonRecurring                               None          None          None
 otherItems                                 None          None          None
 incomeTaxExpense                     6858000000    4915000000    4281000000
 totalRevenue                       559151000000  523964000000  514405000000
 totalOperatingExpenses             536223000000  502496000000  492288000000
 costOfRevenue                      420315000000  394605000000  385301000000
 totalOtherIncomeExpenseNet          -2364000000   -1352000000  -10657000000
 discontinuedOperations                     None          None          None
 netIncomeFromContinuingOps          13706000000   15201000000    7179000000
 netIncomeApplicableToCommonShares   13510000000   14881000000    6670000000

 endDate                              2018-01-31
 Breakdown
 researchDevelopment                        None
 effectOfAccountingCharges                  None
 incomeBeforeTax                     15123000000
 minorityInterest                     2953000000
 netIncome                            9862000000
 sellingGeneralAdministrative       106010000000
 grossProfit                        126947000000
 ebit                                20937000000
 operatingIncome                     20937000000
 otherOperatingExpenses                     None
 interestExpense                     -2330000000
 extraordinaryItems                         None
 nonRecurring                               None
 otherItems                                 None
 incomeTaxExpense                     4600000000
 totalRevenue                       500343000000
 totalOperatingExpenses             479406000000
 costOfRevenue                      373396000000
 totalOtherIncomeExpenseNet          -5814000000
 discontinuedOperations                     None
 netIncomeFromContinuingOps          10523000000
 netIncomeApplicableToCommonShares    9862000000  ,
 'yearly_balance_sheet': endDate                         2021-01-31    2020-01-31    2019-01-31  \
 Breakdown
 capitalSurplus                3.646000e+09  3.247000e+09  2.965000e+09
 totalLiab                     1.649650e+11  1.549430e+11  1.396610e+11
 totalStockholderEquity        8.129800e+10  7.466900e+10  7.249600e+10
 minorityInterest              6.233000e+09  6.883000e+09  7.138000e+09
 otherCurrentLiab              1.294200e+10  2.270000e+09  2.360000e+09
 totalAssets                   2.524960e+11  2.364950e+11  2.192950e+11
 commonStock                   2.820000e+08  2.840000e+08  2.880000e+08
 otherCurrentAssets            1.920000e+10           NaN  3.400000e+07
 retainedEarnings              8.876300e+10  8.394300e+10  8.078500e+10
 otherLiab                     1.437000e+10  1.226500e+10  1.155300e+10
 goodWill                      2.898300e+10  3.107300e+10  3.118100e+10
 treasuryStock                -1.139300e+10 -1.280500e+10 -1.154200e+10
 otherAssets                   2.359800e+10  5.377000e+09  5.027000e+09
 cash                          1.774100e+10  9.465000e+09  7.722000e+09
 totalCurrentLiabilities       9.264500e+10  7.779000e+10  7.747700e+10
 shortLongTermDebt             3.115000e+09  5.362000e+09  1.876000e+09
 otherStockholderEquity       -1.139300e+10 -1.280500e+10 -1.154200e+10
 propertyPlantEquipment        1.098480e+11  1.270490e+11  1.113950e+11
 totalCurrentAssets            9.006700e+10  6.180600e+10  6.189700e+10
 netTangibleAssets             5.231500e+10  3.839600e+10  3.551500e+10
 netReceivables                6.516000e+09  6.284000e+09  6.283000e+09
 longTermDebt                  4.119400e+10  4.441000e+10  4.394800e+10
 inventory                     4.494900e+10  4.443500e+10  4.426900e+10
 accountsPayable               4.914100e+10  4.697300e+10  4.706000e+10
 intangibleAssets                       NaN  5.200000e+09  5.800000e+09
 deferredLongTermAssetCharges           NaN  1.914000e+09  1.796000e+09
 longTermInvestments                    NaN  5.990000e+09  3.995000e+09

 endDate                         2018-01-31
 Breakdown
 capitalSurplus                2.648000e+09
 totalLiab                     1.237000e+11
 totalStockholderEquity        7.786900e+10
 minorityInterest              2.953000e+09
 otherCurrentLiab              2.662000e+09
 totalAssets                   2.045220e+11
 commonStock                   2.950000e+08
 otherCurrentAssets                     NaN
 retainedEarnings              8.510700e+10
 otherLiab                     8.168000e+09
 goodWill                      1.824200e+10
 treasuryStock                -1.018100e+10
 otherAssets                   4.184000e+09
 cash                          6.756000e+09
 totalCurrentLiabilities       7.852100e+10
 shortLongTermDebt             3.738000e+09
 otherStockholderEquity       -1.018100e+10
 propertyPlantEquipment        1.148180e+11
 totalCurrentAssets            5.966400e+10
 netTangibleAssets             5.962700e+10
 netReceivables                5.614000e+09
 longTermDebt                  3.023100e+10
 inventory                     4.378300e+10
 accountsPayable               4.609200e+10
 intangibleAssets                       NaN
 deferredLongTermAssetCharges  1.879000e+09
 longTermInvestments           7.614000e+09  ,
 'yearly_cash_flow': endDate                                 2021-01-31   2020-01-31   2019-01-31  \
 Breakdown
 changeToLiabilities                     6966000000   -274000000   1831000000
 totalCashflowsFromInvestingActivities -10071000000  -9128000000 -24036000000
 netBorrowings                          -5706000000  -1071000000  12035000000
 totalCashFromFinancingActivities      -16117000000 -14299000000  -2537000000
 changeToOperatingActivities             4623000000    186000000    183000000
 netIncome                              13510000000  14881000000   6670000000
 changeInCash                            8273000000   1759000000    742000000
 repurchaseOfStock                      -2625000000  -5717000000  -7410000000
 effectOfExchangeRate                     235000000    -69000000   -438000000
 totalCashFromOperatingActivities       36074000000  25255000000  27753000000
 depreciation                           11152000000  11467000000  10678000000
 otherCashflowsFromInvestingActivities    102000000    479000000   -431000000
 dividendsPaid                          -6116000000  -6048000000  -6102000000
 changeToInventory                      -2395000000   -300000000  -1311000000
 changeToAccountReceivables             -1086000000    154000000   -368000000
 otherCashflowsFromFinancingActivities  -1670000000  -1463000000  -1060000000
 changeToNetincome                       3440000000   -766000000  10110000000
 capitalExpenditures                   -10264000000 -10705000000 -10344000000

 endDate                                 2018-01-31
 Breakdown
 changeToLiabilities                     4086000000
 totalCashflowsFromInvestingActivities  -9079000000
 netBorrowings                          -1437000000
 totalCashFromFinancingActivities      -19875000000
 changeToOperatingActivities              928000000
 netIncome                               9862000000
 changeInCash                            -130000000
 repurchaseOfStock                      -8296000000
 effectOfExchangeRate                     487000000
 totalCashFromOperatingActivities       28337000000
 depreciation                           10529000000
 otherCashflowsFromInvestingActivities    -77000000
 dividendsPaid                          -6124000000
 changeToInventory                       -140000000
 changeToAccountReceivables             -1074000000
 otherCashflowsFromFinancingActivities  -4018000000
 changeToNetincome                       4703000000
 capitalExpenditures                   -10051000000  ,
 'quarterly_income_statement': endDate                              2021-01-31    2020-10-31    2020-07-31  \
 Breakdown
 researchDevelopment                        None          None          None
 effectOfAccountingCharges                  None          None          None
 incomeBeforeTax                      -593000000    7115000000    8646000000
 minorityInterest                     6233000000    6073000000    5887000000
 netIncome                           -2091000000    5135000000    6476000000
 sellingGeneralAdministrative        30231000000   27991000000   27094000000
 grossProfit                         36818000000   34369000000   35053000000
 ebit                                 6587000000    6378000000    7959000000
 operatingIncome                      6587000000    6378000000    7959000000
 otherOperatingExpenses                     None          None          None
 interestExpense                      -524000000    -541000000    -658000000
 extraordinaryItems                         None          None          None
 nonRecurring                               None          None          None
 otherItems                                 None          None          None
 incomeTaxExpense                     1415000000    1914000000    2207000000
 totalRevenue                       152079000000  134708000000  137742000000
 totalOperatingExpenses             145492000000  128330000000  129783000000
 costOfRevenue                      115261000000  100339000000  102689000000
 totalOtherIncomeExpenseNet          -7180000000     737000000     687000000
 discontinuedOperations                     None          None          None
 netIncomeFromContinuingOps          -2008000000    5201000000    6439000000
 netIncomeApplicableToCommonShares   -2091000000    5135000000    6476000000

 endDate                              2020-04-30
 Breakdown
 researchDevelopment                        None
 effectOfAccountingCharges                  None
 incomeBeforeTax                      5396000000
 minorityInterest                     5870000000
 netIncome                            3990000000
 sellingGeneralAdministrative        26472000000
 grossProfit                         32596000000
 ebit                                 6124000000
 operatingIncome                      6124000000
 otherOperatingExpenses                     None
 interestExpense                      -592000000
 extraordinaryItems                         None
 nonRecurring                               None
 otherItems                                 None
 incomeTaxExpense                     1322000000
 totalRevenue                       134622000000
 totalOperatingExpenses             128498000000
 costOfRevenue                      102026000000
 totalOtherIncomeExpenseNet           -728000000
 discontinuedOperations                     None
 netIncomeFromContinuingOps           4074000000
 netIncomeApplicableToCommonShares    3990000000  ,
 'quarterly_balance_sheet': endDate                    2021-01-31    2020-10-31    2020-07-31  \
 Breakdown
 capitalSurplus           3.646000e+09  3.485000e+09  3.197000e+09
 totalLiab                1.649650e+11  1.633590e+11  1.561850e+11
 totalStockholderEquity   8.129800e+10  8.143100e+10  7.531000e+10
 minorityInterest         6.233000e+09  6.073000e+09  5.887000e+09
 otherCurrentLiab         1.294200e+10  2.077000e+09  3.670000e+09
 totalAssets              2.524960e+11  2.508630e+11  2.373820e+11
 commonStock              2.820000e+08  2.830000e+08  2.830000e+08
 otherCurrentAssets       1.920000e+10           NaN           NaN
 retainedEarnings         8.876300e+10  9.227900e+10  8.761400e+10
 otherLiab                1.437000e+10  1.293500e+10  1.217900e+10
 goodWill                 2.898300e+10  3.023600e+10  2.954200e+10
 treasuryStock           -1.139300e+10 -1.461600e+10 -1.578400e+10
 otherAssets              2.359800e+10  9.790000e+09  9.381000e+09
 cash                     1.774100e+10  1.432500e+10  1.690600e+10
 totalCurrentLiabilities  9.264500e+10  8.812100e+10  8.195700e+10
 shortLongTermDebt        3.115000e+09  4.358000e+09  5.553000e+09
 otherStockholderEquity  -1.139300e+10 -1.461600e+10 -1.578400e+10
 propertyPlantEquipment   1.098480e+11  1.242890e+11  1.228940e+11
 totalCurrentAssets       9.006700e+10  7.360200e+10  6.499600e+10
 netTangibleAssets        5.231500e+10  5.119500e+10  4.576800e+10
 netReceivables           6.516000e+09  5.770000e+09  5.111000e+09
 longTermDebt             4.119400e+10  4.157100e+10  4.170700e+10
 inventory                4.494900e+10  5.184200e+10  4.108400e+10
 accountsPayable          4.914100e+10  5.415200e+10  4.632600e+10
 longTermInvestments               NaN  1.294600e+10  1.056900e+10

 endDate                    2020-04-30
 Breakdown
 capitalSurplus           2.983000e+09
 totalLiab                1.587820e+11
 totalStockholderEquity   6.824000e+10
 minorityInterest         5.870000e+09
 otherCurrentLiab         5.891000e+09
 totalAssets              2.328920e+11
 commonStock              2.840000e+08
 otherCurrentAssets                NaN
 retainedEarnings         8.114100e+10
 otherLiab                1.183100e+10
 goodWill                 2.941600e+10
 treasuryStock           -1.616800e+10
 otherAssets              9.756000e+09
 cash                     1.493000e+10
 totalCurrentLiabilities  8.264700e+10
 shortLongTermDebt        5.983000e+09
 otherStockholderEquity  -1.616800e+10
 propertyPlantEquipment   1.233780e+11
 totalCurrentAssets       6.332800e+10
 netTangibleAssets        3.882400e+10
 netReceivables           5.029000e+09
 longTermDebt             4.416100e+10
 inventory                4.121700e+10
 accountsPayable          4.409600e+10
 longTermInvestments      7.014000e+09  ,
 'quarterly_cash_flow': endDate                                 2021-01-31   2020-10-31   2020-07-31  \
 Breakdown
 changeToLiabilities                    -1587000000   7501000000   2235000000
 totalCashflowsFromInvestingActivities  -3564000000  -2873000000  -1938000000
 netBorrowings                          -1273000000  -1318000000  -6657000000
 totalCashFromFinancingActivities       -4777000000  -3526000000  -8379000000
 changeToOperatingActivities             2827000000    368000000   3537000000
 netIncome                              -2091000000   5135000000   6476000000
 changeInCash                            3410000000  -2576000000   1968000000
 repurchaseOfStock                      -1439000000   -463000000   -463000000
 effectOfExchangeRate                     405000000   -101000000    346000000
 totalCashFromOperatingActivities       13194000000   3924000000  11939000000
 depreciation                            2819000000   2771000000   2771000000
 otherCashflowsFromInvestingActivities    102000000    -27000000     21000000
 dividendsPaid                          -1534000000  -1524000000  -1529000000
 changeToInventory                       5865000000 -10726000000    245000000
 changeToAccountReceivables             -1251000000   -658000000   -101000000
 otherCashflowsFromFinancingActivities   -531000000   -221000000   -193000000
 changeToNetincome                       7006000000   -421000000  -2479000000
 capitalExpenditures                    -3826000000  -2869000000  -1817000000

 endDate                                2020-04-30
 Breakdown
 changeToLiabilities                   -1183000000
 totalCashflowsFromInvestingActivities -1696000000
 netBorrowings                          3542000000
 totalCashFromFinancingActivities        565000000
 changeToOperatingActivities           -2109000000
 netIncome                              3990000000
 changeInCash                           5471000000
 repurchaseOfStock                      -723000000
 effectOfExchangeRate                   -415000000
 totalCashFromOperatingActivities       7017000000
 depreciation                           2791000000
 otherCashflowsFromInvestingActivities     6000000
 dividendsPaid                         -1529000000
 changeToInventory                      2221000000
 changeToAccountReceivables              924000000
 otherCashflowsFromFinancingActivities  -725000000
 changeToNetincome                      -666000000
 capitalExpenditures                   -1752000000  }